header  {
    display: flex;
    padding-inline: 20px;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    background-color: hsl(0, 5%, 50%);
    z-index: 1000;
    color: white;
    font-size: larger;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: rgb(255, 255, 255);

    > span {
        cursor: pointer;
        &:hover {
            color: aqua;
        }
    }

    ul {
        list-style: none;

        li {
            cursor: pointer;
            &:hover {
                color: aqua;
            }
        }
    }
}