ul.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;

        .todo-text {
            flex-grow: 1;
            margin-right: 10px;
        }

        .delete-button {
            background-color: rgb(255, 114, 114);
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;

            &:hover {
                background-color: darkred;
            }
        }

        .edit-button {
            background-color: rgb(146, 146, 250);
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            text-align: center;

            &:hover {
                background-color: darkblue;
            }
        }
    }
}
